# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# MLflow
mlruns/

# Data files
data/*.csv
data/*.zip
data/*.parquet

# Database
db/*.db
db/*.sqlite

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
